[flake8]
max-line-length = 100
max-complexity = 15

exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    htmlcov,
    .tox

# Erreurs ignorées
ignore =
    E203,
    E266,
    E501,
    W503,
    W504

show-source = True
statistics = True
format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s
filename = *.py
